html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  min-height: 100%;
}
@media all and (-ms-high-contrast-adjust: none) {
  html,
  body {
    height: 100%;
  }
}
body {
  font-family: sans-serif;
}
#root {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
